<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Estudiantes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Estudiantes</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <app-detail-student (sendList)="receiveList($event)"></app-detail-student>
    
    <ion-button (click)="onClickGoCourses()">Ir a Cursos</ion-button>
  </div>

</ion-content>
